[Unit]
Description=matrix-puppet-mattermost
After=matrix-synapse.service

[Service]
Type=simple
WorkingDirectory=/path/to/matrix-puppet-mattermost
ExecStart=/path/to/matrix-puppet-mattermost/start.sh

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=matrix-puppet-mattermost

EnvironmentFile=-/etc/default/matrix-puppet-mattermost
PermissionsStartOnly=true
LimitNOFILE=4096
IgnoreSIGPIPE=false
User=matrix-synapse

[Install]
WantedBy=multi-user.target
